/*edit file css*/

#logo_image {
  position : relative;
  height : 80px;
  width : 50%;
  z-index : 6;
  padding-left : 25%;
}
.hiddentext {
  display : none;
}

.thisareaLabel {
    font-size : 18px;
    border : solid 1px green;
    padding : 5px;
    margin : 5px;
    width : 200px;
    float : left;
    color : black;
}
#editcommentL {
    padding : 20px;
    border : none;
    width : 400px;
    font-size : 16px;
    
   
}
#editcommentC{
  position : relative;
  float : left;
  
}
#commentBlock{
    position : relative;
    border :none;
    width : 500px;
    height : 150px;
    top : 80px;
    margin-left : 12px;
}
#headingText{
 position : relative;
 top : -30px;
 font-size : 20px;
 text-align : center;
}
#headinglist {
position : relative;
max-width : 55%;
border : dashed 1px green;
height : 200px;
overflow : auto;
margin : 10px;
    padding : 5px;
    border-radius : 10px;

}
#sendeditButton {
position : relative;
float : left;
margin-top : 22px;
}
.buttonclass {
    border : solid 1px green;
    padding : 5px;
    font-size : 16px;
    margin : 8px;
}
.thisarea {
    width : 400px;
    height : auto;
    border-style : dashed;
    border-color : black;
    border-width : 1px;
    padding : 5px; 
}

#outputBlock {
    position : relative;
    border : dashed 1px green;
    padding :10px; 
    max-width : 30%;
    height : 180px; 
    margin : 10px;
    top : -212px;
    left :60%;
}
#images {
    position : relative;
    border : dashed 1px blue;
    top : 80px;
    left : -75px;
    width : 95%;
    padding : 12px;
    margin : 1px;
    
}
#addimages {
    position : relative;
    display : block;
    border : dashed 1px blue;
    left : 66%;
    top : 2px;
    width : 300px;
    padding : 10px;
    margin : 1px;
    clear : left;
}
.outputbox {
    position : relative;
    height : 20%;
    width : 90%;
    padding : 10px;
    font-size : 16px;
   
}
#dataForm {
    display : block;
    border : none;
    height : 0px;
}
#currImages {
    position : absolute;
    left : 80%;
    width : 200px;
    top : 15px;
    height : 390px;
    overflow : auto;
}
#detail_fs_anim {
  position : relative;
  border-style: outset;
  top : -50px;
  width : 95%;
  padding : 5px;
  height : 80%;
    
  padding : 10px;
  margin : 1px;
  overflow : auto;
  overflow-x : hidden;
  white-space : nowrap;
}

#pgButtonsAnim {
    position: relative;
    top: -40px;

    
}
#imgDisplay {
	position : absolute;
	border : 1px black dashed;
  background-color : rgba(205,135, 12, 0.7);
  padding: 22px;
  padding-top: 3px;
  padding-bottom: 3px;
  width : 320%;
  top : 120%;
  left : 0%;
        		
}
.thumbpic {
	position : relative;
	width : 150px;
	height : 150px;
}
#images {
position : relative;
    left : -250%;

}
#optionsDsplay {
	position : absolute;
	display : block;
	width : 70%;
	height : auto;
    left : 345px;
    top : -35px;
	border : 1px black dashed;
	background-color : rgba(205,135, 12, 0.7);
	padding : 12px;
   
	font-size: 12px;
	
  	}
#tagslist{
position : absolute;
    top : 105%;
    left : -2%;

}
.listitemC {
width : 170%;
}      	

 #acclevel {
     position : relative;
     left : -50px;
     
 }
#contrib_ID {
    position : relative;
    left : -50px;
    
}

        	
        	

