.note-and-attributes {
      position : relative;
     width : 90%;
    
    border : 1px dashed green;
    padding : 5px;

}

/*.nodecontent:hover .note {
  display : block;
  
}
*/
.boxed,.nodecontent {display:inline;}

.boxed .note-and-attributes {display:none;}



.boxed:hover .note-and-attributes {
  
 position:fixed; top:2em;right:10px;z-index:3;
  
 
  
 
    max-height:95%; 
   display:block;
  width : auto;
  color:black;
  
  background:#ffffff;
  
  font:normal 16px courier, sans-serif;
  
  border:1px solid black;
  
  padding:5px;
 
}

.buttonclass {
  position : relative;
  
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 20px;
  padding : 4px;
  margin : 10px;
  
}


