/*Details styles*/

#DETallContainer {
  position : relative;
  width : 95%;
  height : 95vh;
  padding : 20px;
  border : 1px lightblue solid;
  border-radius: 20px;
  top: 20px;
}
.linkC {
  position : relative;
  border : none;
  background : none;
  font-size: x-large;
  text-decoration : none;
  cursor : pointer;
  color : black;
  }
.linkC:hover {
  color : lightblue;
  text-decoration : underline;
  
  
}
#pgHeading {
  position : relative;
  top : -95px;
  left : 40%;
  font-size : 300%;
  text-decoration : underline;
  width: auto;
}
#DETallContainer #dateTime {
  position: relative;
  z-index:3;
  font-size: large;
  margin-left:auto;
  padding-left:0px;
  color: green;
  left : -55%;
}
#DETallContainer .buttonclass {
  position: relative;
  border : 1px solid green;
  font-size: 16px;
  border-radius: 12px;
  padding : 5px;
}
#DETallContainer #detail_fs {
  position : relative;
  top : -65px;
  border : 1px lightblue solid;
  width : 95%;
  padding : 5px;
  height :auto;
  padding-left : 10px;
  margin-left : 10px;
  border-radius: 12px;
  max-height: 500px;
  overflow : auto;
}
#DETallContainer #logo_image_holder{
  position : relative;
   left : -3%;
  top : 0px;
   width : 30%;
 }
#DETallContainer #logo_image {
  height : 100%;
  width : 100%;
}
#DETallContainer #fqnNameList{
  position : relative;
  width : 75%;
  /*height :auto;*/
  height: 300px;
  min-height: 200px;
  padding : 10px;
  border-style: inset;
  border-radius: 12px; 
  overflow: auto;
  margin-top :  10px;
}
#DETallContainer .labelClass {
 text-align : left;
 text-decoration: underline;
 font-size : 20px ;
} 
.itemC {
  position : relative;
  width : 43%;
  border : 1px black dashed;
  float : left;
  margin : 5px;
  border-radius : 22px;
  padding : 10px;
  max-height : 95px;
}
#otherDetails {
  position : relative;
  width : 25%;
  border : 1px black dashed;
  border-radius : 5px;
  padding : 10px;
  margin-top : 10px;
  overflow : auto;
  max-height : 100px;
}
.oDD{
  display : none;
}
.hiddentext{
  display : none;
}
#DETallContainer #catHeading {
  position : relative;
  left : 0%;
  font-size : 250%;
  width: auto;
}
.italC {
  font-style : italic;
}
#oDDOutput {
  position : relative;
  border : 1px black dashed;
  border-radius : 12px;
  padding : 10px;
  max-height : 120px;
  max-width : 45%;
  overflow : auto;
  left : 29%;
  padding-top : 10px;
  top : -100px;
}
.oDHClass {
  cursor: pointer;
}
#DETallContainer #imgGrid {
  position : absolute;
  max-width : 340px;
  max-height : 310px;
  float : right;
  top : 10%;
  left : 78%;
  overflow : auto;
  margin-right : 10px;
  margin-top : 15px;
}
#DETallContainer .imgClass {
  width : 150px;
  height : 150px;
  border-radius: 12px;
  margin-left: 3px;
}
.longText {
  max-width : 85%;
}
#suboD {
  position : relative;
  width : 100%;
  max-height : 150px;
}
.OutputAnim {
  top : -70px;
}
.OutputMin {
  top : -70px;
}
.OutputVeg {
  top : -100px;
}
#DETallContainer #pgButtons {
position : relative;
  	top : -40px;
	left: 3%;
}
#viewsBlock {
    position: absolute;
    border: black 1px solid;
    border-radius: 20px;
    padding: 15px;
    width: 15vw;
    font-size: 120%;
    top: 100px;
    left: 30px;
  height : 50px;
  overflow : hidden;
  z-index : 4;
  background-color : yellow;
  cursor : pointer;
}
#viewsBlock:hover {
  height : 200px;
}
#ratingsBlock{
    position: relative;
    border: black 1px solid;
    border-radius: 20px;
    width: 30vw;
  	min-width:300px;
    height: 340px;
  background-color: yellow;
 	top : -590px;
  	left :5%;
  	display :none;
  	padding: 30px;
  	padding-right : 0px;
}
#ratehead {
  position : relative;
  font-size : 130%;
  text-decoration: underline;
  display : none;
}
#ratebut{
  	position : absolute;
  	border: black 1px solid;
    border-radius: 20px;
    width: 16vw;
  	min-width:250px;
    height: auto;
  	top : 100px;
  	left :240px;
  	font-size : 190%;
  	text-decoration: underline;
 	 background-color: yellow;
}
.button:hover {
  cursor: pointer;
  background-color: blue;
}
.button  {
  position : relative;
  /*! top : -3px; */
  margin-right : 10px;
  
}
.button:hover {
  background-color : white;
}
#commentBlock {
  	position : relative;
  	border : 1px black solid;
  	border-radius : 25px;
	padding : 20px; 
  	width : 40%;
  	background-color: pink;
  	top : -270px;
  	left :38%;
  	display : none;
}
#commentBlock label {
  font-size : 120%;
}

#currScore {
  font-size : 300%;
}
#rtecmnt{
  position : absolute;
  top : 70px;
  left : 20%;
}
#picWindow {
  position : absolute;
  z-index : 3;
  border : 3px black solid;
  padding : 0px;
  background-color:  rgba(0, 0 ,0, .7);
  left : 25%;
 width: 35vw;
  height : auto;
  display : none;
}
#picWindow span {
  position : relative;
  top : -135px;
  left : 95%;
  font-size : x-large;
}
#picWindow img {
  position : relative;
  top : 15px;
  
}
#picWindow #pictag {
  position : relative;
  z-index : 4;
  font-size : x-large;
  color : whitesmoke;
  left : 2%;
  top : 0%;
  width : 100px;
  padding : 5px;
  margin : 4px;
}