.container{
 position : relative;
  width : 90%;
   height : 100%;
  padding : 20px;
  border : 1px lightblue solid;
  border-radius : 15px;
  top : 10px;
}

#GlBody #dateTime {
  position : relative;
  top : 10px;
  left : 10px;
  color : green
  
}
#GlBody #logo_image{
  position : relative;
   width : 30%; 
  left : 65%;
  top : -40px;
}
#glossEntry .itemC {
  position : relative;
  width : 65%;
  height : auto;
  min-height: 200px;
}
.glossP{
  position : relative;
  width : 120px;
  height : 120px;
  float : right;
  top : -40px;
  left: -20px;
}
#GlBody #glHeading {
  position : relative; 
text-align: center;
  font-size : xx-large;
  text-decoration : underline;
  top : -20px;
  
}
#GlBody #pgButtons {
  position : relative;
  left : 5%;
  top : -38px;
  
}
#GlBody #pgButtons li {
  position : relative;
  float : left;
  background-color: transparent;
  border : none;
  width : auto;
  margin : 5px;
}
#GlBody #pgButtons input {
  position : relative;
  font-size : x-large;
  border-radius : 5px;
  left : -0%;
  
}
#GlBody #pgButtons a {
  position :relative;
  font-size : x-large;
  border-radius : 5px;
  padding : 5px;  
}
.hiddentext{
  display : none;
  
}