/*Index Styles*/
body {
  position : relative;
  width : 1264px 
    height : 884.8px;
}
.highlite {
  background-color: yellow;
  color : red;
  
}
#SFallContainer {
  position : relative;
  width : 89vw;
  height : 93vh;
  padding : 20px;
  border : 1px lightblue inset;
  border-radius : 15px;
  left : 1%;
  margin-top : 2%;
  overflow: hidden;
  top: -20px;
}
	.linkC {
  position : relative;
  border : none;
  background : none;
  font-size: x-large;
  text-decoration : underline;
  cursor : pointer;
  }
.linkC:hover {
  color : blue;
  
}
#option3btn {
  position : relative;
  top : 0px;
}
#option2btn {
  position : relative;
  top : 0px;
}
#SFallContainer #logo_image_holder {
   position: relative;
	left: -3%;
	top: 0px;
	width: 30%;
}
.italC {
  font-style: italic;
}
.hiddentext {
  display : none;
  
}
#DDL3Option{
  position : relative;
  top : 50%;
  left : -0px;
}
#SFallContainer #dateTime {
  position: relative;
  top: 15px;
  left: -40%;
  z-index:3;
  font-size: large;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}
.hiddentext{
  display: none;
}
#SFallContainer #logo_image{
height: 100%;
	width: 100%;
}
#SFallContainer .cathead {
	position : relative;
   font-size : 300%;
   text-decoration : underline;
   top : -0px;
   left : 35%;
   z-index : 4;
}
#SFallContainer .selectList {
  position : relative;
  height : 25%;
  min-width : 190px;
  margin : 15px;
  font-size : 100%;
  padding : 1px;
}
#DDL1Veg{
  position : relative;
}
#DDL2{
  position : relative;
  width: 240px;
}
#DDL3dd{
  position : relative;
  width : 230px;
}
#DDLOption{
  position : relative;
  left : 0%;
}
#SFallContainer #findOptions {
  position : relative;
  /*! border : 1px black dashed; */
  width : 60%;
  padding : 10px;
  height: 30vh;
}
#SFallContainer #ddl3Txt {
  font-size : 90%;
}
#selectBox {
    position : relative;
    border : 1px dashed red;
    width : 75%;
}
#findOptions input.buttonclass {
  position : relative;
}
#SFallContainer #pgButtons {
    position : relative;
    width: 500px;
  margin-bottom : 5px;
  left : 40px;
  
}
.buttonclass {
  position : relative;
   border-radius: 25px; 
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 16px;
  padding : 4px;
  margin : 5px;
  left : 0%;
}
#SFallContainer #theCategory {
  position : absolute;
  padding : 5px;
  width : 20%;
   /*! border-style : dashed; */
  /*! border-width : 2px; */
   max-height: 90%; 
  margin-right: 10px;
  /*! float : right; */
   overflow-y : scroll;
  top: 10px;
  left: 75%;
}
#SFallContainer #detail_fs{
position : relative;
  height : 70%;
  padding : 20px;
  width : 90%;
  top : 5px;
  border-radius : 22px;
}
#infoSet {
  position : relative;
  width : 500px;
  padding : 12px;
  width: 500px;
  /*! border: 1px black solid; */
  height: auto;
  max-height: 200px;
  overflow: auto;
}
.headingC {
  text-align : left;
  text-decoration: underline;
 font-size : 20px ;
}
.detailC {
  text-align:  left;
  word-wrap: normal;
  overflow: auto;
}
#specipicH {
  position: relative;
  width : 60%;   
  border: 1px black solid;
  width: 40%;
  height: 300px;
}
#speciePic {
  position : relative;
  top : -0px;
  width : auto;
  float: right;
}
#subContain {
  position : relative;
  width : 85vw;
  height : auto;
  max-height: 100vh;
  /*! padding : 20px; */
  border: 1px lightblue solid; 
  left: 1%;
  border-radius: 15px;
}
#SFallContainer #catPicsList {
  position : relative;
  width : 115px;
  height : auto;
  top : 10%;
  max-height: 350px;
}
#catPicsList img {
  cursor : pointer;
   width : 180%; 
  height : 100%;
  margin-bottom : 3px;
}

#opt3btSpan {
  position : relative;
  width : 300px;
  height: auto;
  padding : 10px;
  margin : 10px;
  cursor : pointer;
  top : 20px;
  left: 30px;
} 
#buttContSpan {
  position : relative;
  display : block;
  width : 250px;
  font-size : 140%;
  left: 70%;
  top: 30%;
  height: auto;
}
#op2btSpan {
 position : relative;
  max-width: 25%;
  height: auto;
  padding : 10px;
  margin :10px;
  cursor : pointer;
 top: -20px;
 left: 10px;
}
#ddl3Txt {
  position: relative;
  height: 20%;
  max-width: 150px;
  /*! top: -12px; */
 
}
#infoDiv p{
  position : relative;
  width : 35%;
  text-overflow: wrap;
  font-size : medium;
  
}
.localN{
  position : relative;
  max-width: 60%;
  display: block;
}

#GBlock {
  position : relative;
  width : 95%;
  padding : 15px;
  left: -0%;
}
#alphList {
	position : relative;
  left : -28px;
  width : 95vw;
  height : auto;
}
#Ghead {
  position : relative;
  left : 45%;
  font-size : x-large;
  text-decoration:  underline;
  cursor: pointer;
  width : auto;
}
#Ghead:hover {
  color : blue;
  
}
#listsList #glList {
  position : relative;
  margin-left : -42px;
  list-style-type: none;
  cusrsor : pointer;
  text-decoration: underline;
}
#listStuff {
  position : relative;
  margin-left : -30px;
  display : none;
}
#retBlock {
  position : relative;
  border : 1px black solid;
  width : auto;
  display : block;
  top : -60px;
  z-index : 6;
  max-height : 10vh;
  background-color: rgba(52,34,14,80);
  color : aliceblue;
  overflow : auto;
  /*! left: 8%; */
}

#GBlock p {
	display : none;
}
.GitemC {
  position : relative;
  text-align: top;
  clear : right;
  font-size : x-large;
  padding-right : 40px;
  padding : 5px;
  z-index : 7;
}
.GdefC {
  position : relative;
  max-width : 130px;
  display : none;
}
.entryP {
  positon : relative;
}
#defBlock {
  position : relative;
  border : 1px black solid;
  max-width : 40%;
  max-height : 80%;
  top : -150px;
  left : 320px;
  
  background-color: rgba(152,34,14,80);
  color : aliceblue;
  font-size : x-large;
  z-index: 6;
  padding: 5px;
  overflow: auto;
  /*! left : 36%; */
}
.Gbutton {
  position : relative;
  font-size : x-large;
  left : 89%;
  padding-bottom : 1px;
  color : blue;
  cursor : pointer;
  width : 150px;
  top: 60px;
}
.Gselect {
  position : relative;
  cursor : pointer;
  color : blue;
  margin : 3px;
  font-size : xx-large;
  padding-left: 15px;
  float : left;
}
#hitCnt {
  position : relative;
  top : -45px;
  left : 75%;
  z-index: 1;
  font-size : xx-large;
  width : 150px;
  
}
.selectholder .helpT {
    position: absolute;
    z-index: 6;
    font-size: ;
    color: darkgreen;
    display: none; 
    height: auto;
  	text-align : center; 
  max-width : 150px;
  background-color: yellowgreen;
  left : 160px;
}

.selectholder:hover .helpT {
    display: block;
    position : ;
    width: 200px;
}
