/*Index Styles*/

#SFallContainer {
 position : relative;
  width : 90vw;
  height : auto;
  padding : 20px;
  border-style: inset;
  border-radius : 15px;
  left : 1%;
}
.linkC {
  position : relative;
  border : none;
  background : none;
  font-size: large;
  text-decoration : underline;
  cursor : pointer;
  }
.linkC:hover {
  color : blue;
  
}
#option3btn {
  position : relative;
  top : 0px;
  max-width: 100%;
  font-size: 80%;
}
#option2btn {
  position : relative;
  top : 0px;
  max-width: 70%;
  font-size: 80%;
  width: auto;
}
#SFallContainer #logo_image_holder {
    position: relative;
    left: 70%;
    top: -50px;
  width : 60%;
}
.italC {
  font-style: italic;
}
#SFallContainer #dateTime {
  position: relative;
  top: 15px;
  left: -70%;
  z-index:3;
  font-size: 18px;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}
.hiddentext{
  display: none;
}
#SFallContainer #logo_image{
	height : 60%;
  	width : 50%;
}
#SFallContainer .cathead {
	position : absolute;
   font-size : 250%;
   text-decoration : underline;
   top : 120px;
   left : 35%;
   z-index : 4;
}
#SFallContainer .selectList {
  position : relative;
  height : 25%;
  min-width : 190px;
  margin : 15px;
  font-size : 100%;
  padding : 1px;
}
#DDL1Veg{
  position : relative;
}
#DDL2{
  /*! position : absolute; */
   left : 30%; 
}
#DDL3dd{
  position : relative;
  width : 130px;
}
#DDLOption{
  position : absolute;
  left : 0%;
}
#SFallContainer #findOptions {
  position : relative;
  border : 1px black dashed;
  width : 70%;
  padding : 10px;
  height: 30vh;
}
#SFallContainer #ddl3Txt {
  font-size : 90%;
}
#selectBox {
    position : relative;
    border : 1px dashed red;
    width : 75%;
}
#findOptions input.buttonclass {
  position : relative;
}
#SFallContainer #pgButtons {
    position : relative;
    width: 500px;
  margin-bottom : 15px;
  left : 30px;
}
.buttonclass {
  position : relative;
   border-radius: 25px; 
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 16px;
  padding : 4px;
  margin : 5px;
  left : 0%;
}
#SFallContainer #theCategory {
  position : relative;
  padding : 10px;
  width : 20%;
   border-style : dashed;
  border-width : 2px;
  max-height: 260px;
  margin-right: 10px;
  float : right;
   overflow-y : scroll;
  top: 4px;
  left: -2%;
}
#SFallContainer #detail_fs{
position : relative;
  height : 70%;
  padding : 20px;
  width : 90%;
  top : 5px;
  border-radius : 22px;
}
#infoSet {
  position : relative;
  width : 500px;
  padding : 12px;
  width: 500px;
  /*! border: 1px black solid; */
  height: auto;
  max-height: 200px;
  overflow: auto;
}
.headingC {
  text-align : left;
  text-decoration: underline;
 font-size : 20px ;
}
.detailC {
  text-align:  left;
  word-wrap: normal;
  overflow: auto;
}
#specipicH {
  position: relative;
  width : 60%;   
  border: 1px black solid;
  width: 40%;
  height: 300px;
}
#speciePic {
  position : relative;
  top : -0px;
  width : auto;
  float: right;
}
#subContain {
  position : relative;
  width : 85vw;
  height : auto;
  max-height: 100vh;
  padding : 20px;
  border-style: inset;
  border-radius: 22px; 
  left: 1%;
}
#SFallContainer #catPicsList {
  position : relative;
  width : 115px;
  height : auto;
  top : 10%;
  max-height: 350px;
}
#catPicsList img {
  cursor : pointer;
  width : 180%;
  height : 100%;
}

#opt3btSpan {
  position : relative;
  width : 300px;
  height: auto;
  padding : 10px;
  margin : 10px;
  cursor : pointer;
  top : 20px;
  left: 30px;
} 
#buttContSpan {
  position : relative;
  display : block;
  width : 250px;
  font-size : 140%;
  left: 70%;
  top: -50%;
  height: auto;
}
#op2btSpan {
 position : relative;
  max-width: 25%;
  height: auto;
  padding : 10px;
  margin :10px;
  cursor : pointer;
 top: -20px;
 left: 10px;
}
#ddl3Txt {
  position: relative;
  height: 20%;
  max-width: 150px;
  top: -12px;
  left: 20px;
}
#infoDiv p{
  position : relative;
  width : 35%;
  text-overflow: wrap;
  font-size : medium;
  
}
.localN{
  position : relative;
  max-width: 60%;
  display: block;
}

#GBlock {
  position : absolute;
  width : 95%;
  padding : 15px;
  top: 105%;
  left: -0%;
}
#Ghead {
  position : relative;
  display : block;
  left : 30%;
  font-size : x-large;
  text-decoration:  underline;
}
#listsList #glList {
  position : relative;
  margin-left : -42px;
  list-style-type: none;
  cusrsor : pointer;
  text-decoration: underline;
}
#listStuff {
  position : relative;
  margin-left : -30px;
  display : none;
}
#retBlock {
  position : absolute;
  border : 1px black solid;
  width : 28%;
  display : block;
  top : -35%;
  z-index : 6;
  max-height : 20vh;
  background-color: rgba(52,34,14,80);
  color : aliceblue;
  overflow : auto;
  left: 80%;
}
.GitemC {
  position : relative;
  text-align: top;
  clear : right;
  font-size : x-large;
  padding-right : 40px;
  padding : 5px;
  z-index : 7;
}
.GdefC {
  position : relative;
  max-width : 130px;
  display : none;
}
.entryP {
  positon : relative;
}
#defBlock {
  position : absolute;
  border : 1px black solid;
  display : block;
  max-width : 40%;
  max-height : 80%;
  top : -80%;
  left : 30%;
  background-color: rgba(152,34,14,80);
  color : aliceblue;
  font-size : x-large;
  z-index: 6;
  padding: 5px;
  overflow: auto;
  left : 37%;
}
.Gbutton {
  position : relative;
  font-size : xx-large;
  left : 95%;
  padding-bottom : 1px;
  color : blue;
  cursor : pointer;
  width : 150px;
  top: -190px;
}
.Gselect {
  position : relative;
  float : left;
  cursor : pointer;
  color : blue;
  margin : 3px;
  font-size : x-large;
  padding-left: 1.5%;
}
