/*LnF styles*/
#LnFallContainer{
   position : relative;
  width : 93vw;
  height : 90%; 
  padding : 20px;
  border : 1px lightblue solid;
  border-radius : 15px;
	top : 20px;
  
}
#logo_image_holder{
     position: relative;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 25%;
    top: -60px;
}
 #logo_image {
  position : relative;
  height : 100%;
  width : 100%;
  z-index : 6;
}
#dateTime {
  color : green;
  font-size : large;
  
}
#LostBlock {
  position : relative;
  border : none;
  width : 100%;
  height : 280px;
  padding : 5px;
  margin : 5px;
  overflow : hidden;
}
#LostBlock .messSpan {
  position :relative;
}
#FoundBlock {
  position  : fixed;
  width : 37%;
  border : 1px green dashed;
  top : 340px;
  left: 57%;
  height : 230px;
  padding : 5px;
  overflow : auto;
  display : none;
}
#Fheading {
  position : relative;
  margin-bottom : 50px;
  
}
#FoundBlock .messSpan {
  position : relative;
  top : 5%;
  width : 90%;  
  display : block;;
  left : 10px;
  
}
#pgButtonslnf {
  position: absolute;
  top : 42%;
  font-size : 38px;
  left : 8%;
  width : 300px;
}
a {
  color : black;
}
a:hover {
  color : lightblue;
  text-decoration : underline;
}
#pgButtonslnf li {
  position : relative;
  float : left;
  margin : 5px;
  top : -50px;
  width : 120px;
  border-radius  : 10px;
  text-align : center;
  padding : 3px;
  
}
.hiddentext {
  display : none;
  
}
#detail_fs_main {
  position : relative;
  border : 1px lightblue solid;
  top : -35%;
  width : 95%;
  padding : 15px;
  height : 65%;
  border-radius : 25px;
  left: 2%;
  
}
#messDiv {
  position : relative;
  height : 75%;
  overflow : auto;
  top : 15%;
}
#messDiv li {
  font-size : large;
  cursor : pointer;
  width : auto;
  max-width : 90%;
}
#messDiv li:hover {
  color : blue;
}
.selectB {
  position : relative;
  top : 29px;
  width: 30%;
  left: -25px;
  font-size: large;
}
.headC {
  position : relative;
  font-size : 38px;
  text-decoration: underline;
  left : 40%;
  top : -20px;
}
#pgHeading {
  position : relative;
  top : -50px;
  left : 35%;
  font-size : xx-large;
  text-decoration : underline;
  width : 400px;
  
}
