/*Profile styles*/

#informDiv {
  position : relative;
  border : 2px black solid;
  border-radius : 20px;
  height : 80vh;
  border-style : outset;
  padding : 15px;
}
#nameSpan {
  position : relative;
  font-size : 350%;
}
#imageSpan img {
  position : relative;
  width : 20%;
  float : right;
  top : -60px;
}
#scoreSpan {
  position : relative;
  font-size : 500%;
  display : inline-block;
}
#infoDiv p {
  font-size : 200%;
}
#imgDisplay2 {
  position : relative;
  float : right;
  width : 300px;
  top : -200px;
}
