#REGallContainer {
  position : relative;
  width : 98%;
  height : 80%;
  padding : 20px;
  border : 1px lightblue solid;
  border-radius: 22px;
  margin : 10px;
  overflow : auto;
}
#Acheck {
  position : relative;
  width : 20px;
  height : 20px;
  /*! margin-right : 15px; */
  color : blue;
}
#agreement {
  position : absolute;
  z-index : 8;
  background-color: rgba(225,235, 12, 0.6);
  width : 85%;
    height : 70%;
  border : 1px lightblue solid;
  border-radius : 15px;
  top : 20%;
  overflow : hidden;
  padding :10px;
  
  left: 5%;
}
#agree p {
  position : relative;
  width : 95%;
  height : auto;
  overflow: auto;
  padding : 5px;
  white-space: normal;
  

}
#agree span {
  position : relative;
   top : 20px; 
  /*! float: left; */
  font-size: x-large;
}

#agree label {
  position : relative;
  margin-left : 20px;
  width : auto;
  
}
#dateTime {
  position: relative;
  top: 0px;
  left: -40%;
  z-index:3;
  font-size: x-large;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}
#headingText {
  position : relative;
  font-size : 50px;
  top : -60px;
  left : 30%;
  text-decoration: underline;
  
}
.linkC {
  position : relative;
  border : none;
  background : none;
  font-size: xx-large;
  text-decoration : none;
  color : black;
  cursor : pointer;
  }
.linkC:hover {
  color : blue;
  text-decoration : underline;
  
}

#allContainer #logo{
  position : relative;
   top : -0px;
 }

#logo_image {
  height : 100%;
  width : 100%;
  left : -20px;
}
#logo_image_holder{
  position : relative;
   left : %;
   top : -0px;
  width : 30%;
 }

#pgButtons {
	position : relative;
  border-radius : 15px;
  left: 80px;
  top : -40px;
  
}
#allcontainer {
  position : relative;
  top : -45px;
  height : 90%;
}
.inputClass {
	position : relative;
	float : right;
	width : 50%;
	font-size : 18px;
	left : 0%;
	margin : 2px;
	top : -30px;
	padding : 3px;
}
#personalDetails {
	 width : 60%;
	 border: green 1px dashed;
	padding : 10px;
}
#imgDisplay{
	position : absolute;
	top : 15px;
	left : 70%;
	width : auto;
	border: orange 1px dashed;
	padding : 1px;
	text-align : center;
  z-index : 3
}
#inputDiv {
	position : relative;
	border: green 2px solid;
	padding : 10px;
	width : 90%;
	left : 2%;
	border-style:ridge;
}
.thumbpic {
	border-radius : 12px;
  	width : 250px;
  	height : 220px;
}
#allContainer .labelClass {
	height : 32px;
	padding : 3px;
	font-size : 18px;
	margin : 1px;
}
.hiddentext {
  display : none;
  
}
.selectClass {
	font-size : 15px;
	height : 42px;
	border : green solid 1px;
}
.buttonclass {
  position : relative;
    /*! border : green solid 1px; */
  height : auto;
  width : auto;
  font-size : 20px;
  padding : 4px;
  margin : 10px;
}
#phpOutput {
  position : relative;
  
}
#messSpan {
  position : absolute;
  top : 20px;
  left : 180px;
  font-size : 20px;
  
}
.fileClass {
    border : 1px dashed green;
}
.Important {
  position : relative;
  color : red;
  font-size : 26px;
  
}
#detail_fs{
  position : relative;
  border : 1px lightblue solid;
  border-radius : 20px;
  height : 500px;
  border-style: outset;
  padding : 20px;
  width : 96%;
  overflow : auto;
  white-space : nowrap;
}
.dm-uploader {
  position : relative;
  top : 0px;
  height : 100px;
}
.dm-uploader .btn {
  position : relative;
  top : -20px;
  z-index : 4;
}
.card {
  position : relative;
  top : 0px;
}
#ajaxBox {
  height : 350px;
}
#messSpan  {
  position : relative;
  border-color : white;
  left : -0px;
  top : 0px;
  
}