/*start utilities*/
#UtilallContainer {
  position : relative;
  width : 93%;
  height : 90vh; 
  padding : 20px;
  border : 1px lightblue solid;
  border-radius : 15px;
  left : 19px;
  overflow : auto;
  top : 20px;
}
#UtilallContainer #dateTime {
  position : relative;
  color : green;
  font-size : large;
}
#controlP {
  position : relative;
  top : 5%;
  font-size : x-large;
  left : 2%;
  width : 200px;
}
.linkC {
  color : black;
  
}
.linkC:hover {
  color : lightblue;
  text-decoration : underline;
  
}
#logo_image_holder {
    position: relative;
    left: 23%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    top: -0px;
}
#UtilallContainer #logo_image {
  position : relative;
  height : 100%;
  width : 100%;
  z-index : 6;
}
#listsList {
    position :relative;
    width : 45%;
  padding : 5px;
  
    /*! color: blue; */
} 
#listsList .linksclass {
  text-decoration: underline;
  color : black;
   cursor : pointer;
}
#listsList li {
  color : blue;
  cursor : pointer;
  
}
#AdminList{
    position : relative;
    width : 40%;
    float : right;
    border-color : green;
   padding : 5px;
}
li {
  list-style: none;
  margin-left : -20px;
  cursor : pointer;
  
}
li:focus, li:hover {
	color: #014c8c;
	text-decoration: underline;
}
.listItem {
	padding : 3px;
	border-radius : 10px;
	margin : 3px;
}
#UtilallContainer #detail_fs{
    position : relative;
     height : 40%; 
    margin-top : 10px;
  border : 1px lightblue solid;
  padding : 10px;
  border-radius : 15px;
  top : 3%;
}

#utilHeading {
  position : relative;
  top : -5%;
  left : 40%;
  font-size : 48px;
  text-decoration : underline;
  width : 200px;
}
.locked {
  background-color : rgba(2, 2, 2, 0.6);
  color : grey;
}
.adminC {
  background-color : rgba(255, 255, 255, 0.6);
  color : black;
}
.linklist {
    border : 1px dashed blue;
}
#listsList #glList {
  position : relative;
  margin-left : -42px;
  list-style-type: none;
  cursor: pointer;
  /*! text-decoration: underline; */
}
#listStuff {
  position : relative;
 /* margin-left : -30px;*/
  display : none;
}

