#logo_image_holder{
   left : 25%;
 }

#logo_image {
  height : 40%;
  width : 50%;
  z-index : 10;
}

#fqnNameList{
  position : relative;
  width : 65%;
  height :auto;
  max-height: 200px;
  min-height: 200px;
  padding : 10px;
  border-style: inset;
  border-radius: 22px; 
  overflow: auto;
  margin-top :  10px;

}
.labelClass {
 text-align : left;
 text-decoration: underline;
 font-size : 20px ;
  
} 
.itemC {
  position : relative;
  min-width : 40%;
  max-width : 40%;
  border : 1px black dashed;
  float : left;
  margin : 10px;
  border-radius : 22px;
  padding : 10px;
  max-height : 95px;
  overflow : auto;

}
#otherDetails {
  position : relative;
  width : 25%;
  border : 1px black dashed;
  border-radius : 5px;
  padding : 10px;
  margin-top : 10px;
  overflow : auto;
  max-height : 100px;
  
}
.oDD {
  display : none;
  
}
#oDDOutput {
  position : absolute;
  border : 1px black dashed;
  border-radius : 12px;
  padding : 20px;
  max-height : 100px;
  max-width : 34%;
  top : 0%;
  overflow : auto;
  left : 29%;
  padding-top : 10px;
  
}
.oDHClass {
  cursor: pointer;
  
}
#imgGrid {
  position : absolute;
  max-width : 310px;
  max-height : 310px;
float : right;
top : 10%;
  left : 68%;
  overflow : auto;
  margin-right : 10px;
  margin-top : 15px;
}
.imgClass {
  width : 100px;
  height : 100px;
  
}
.longText {
  
  max-width : 85%;
}
#suboD {
  position : relative;
  width : 100%%;
  max-height : 150px;
  
}
#oDDOutputMin {
  position : absolute;
  border : 1px black dashed;
  border-radius : 12px;
  padding : 20px;
  max-height : 70px;
  max-width : 34%;
  top : 73%;
  overflow : auto;
  left : 29%;
  padding-top : 10px;
  
}