/*edit file css*/
#allContainer {
  position : relative;
  width : 100%;
  height : 100%;
  
}
.littleDD {
border-radius : 35px; 
}
.bigDD {
border-radius : 25px;
}
#logo_image {
  position : relative;
  height : 80px;
  width : 50%;
  z-index : 6;
  padding-left : 25%;
}
.hiddentext {
  display : none;
}

.thisareaLabel {
    font-size : 18px;
    border : solid 1px green;
    padding : 5px;
    margin : 5px;
    width : 200px;
    float : left;
}
#editcommentL {
    padding : 20px;
    border : none;
    width : 400px;
    font-size : 16px;
    
   
}
#editcommentC{
  position : relative;
  float : left;
  height: 100px;
  
}
#commentBlock{
    position : relative;
    border :none;
    width : 500px;
    height : 150px;
    top : 80px;
    margin-left : 12px;
}
#headingText{
 position : relative;
 top : -30px;
 font-size : 20px;
 text-align : center;
}
#headinglist {
position : relative;
width : 70%;
border : dashed 1px green;
height : 200px;
overflow : auto;
margin : 10px;

}
#sendeditButton {
position : relative;
float : left;
margin-top : 22px;
}
.buttonclass {
    border : solid 1px green;
    padding : 5px;
    font-size : 16px;
    margin : 8px;
}
.thisarea {
    width : 400px;
    height : auto;
    border-style : dashed;
    border-color : black;
    border-width : 1px;
    padding : 5px; 
}

#outputBlock {
    position : relative;
    border : dashed 1px green;
    padding :15px; 
    width : 68%;
    height : auto; 
    margin : 10px;
    top : -220px;
}
#images {
    position : relative;
    display : block;
    border : dashed 1px blue;
    top : 200px;
    left : 56%;
    width : 35%;
    padding : 10px;
    margin : 1px;
    clear : left;
}
#addimages {
    position : relative;
    display : block;
    border : dashed 1px blue;
    left : 66%;
    top : 220px;
    width : 300px;
    padding : 10px;
    margin : 1px;
    clear : left;
}
.outputbox {
    position : relative;
    height : 100px;
    width : 750px;
    padding : 10px;
    font-size : 16px;
   
}
#dataForm {
    display : block;
    border : none;
    height : 0px;
}
#currImages {
    position : absolute;
    left : 80%;
    width : 200px;
    top : 15px;
    height : 390px;
    overflow : auto;
}
#detail_fs {
  position : relative;
  border-style: outset;
  background-image: url("/IBIS_Files_new/images/handprints.png");
  top : 15px;
  width : 95%;
  padding : 5px;
  height : auto;
  padding-left : 10px;
  margin-left : 10px;
  
}
