.littleDD {
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
}
.bigDD {
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}
#logo_image {
	position : relative;
	width : 20%;
	height : 20%;
	left : 40%;
}
#detail_fs_min {
	position : relative;
	border-radius : 8px;
	
}