/* guestcss.css*/
#allContainer {
  position : relative;
  /*! width : 95%; */
  height : 90%;
  padding : 20px;
  border-radius: 22px;
  border : 1px lightblue solid;
  top : 20px;
}
#dateTime {
  position : relative;
  font-size : x-large;
  color: green;
  left : 10px;
}

#pgButtons{
	position : relative;
  top : 4%;
}


#logo_image {
  position : relative;
  width : 85%;
  left :-5%;
  top : -0px;
}
#logo_image_holder {
  position : relative;
  width :400px;
  left : 56%;
  top : -20px;
}
.hiddentext {
  display : none;
  
}

#gTitle {
  position: relative;
  top:-120px;
  font-size: 54px;
  left:35%;
  z-index:4;
  color: black;
  text-decoration: underline;

}
.linkC {
  position : relative;
  border : none;
  background : none;
  font-size: large;
  text-decoration : underline;
  cursor : pointer;
  }
.linkC:hover {
  color : blue;
  
}
#optionsDsplay {
  position : absolute;
  left : 170%;
  top : 35%;
  
}
#mediatagsinput{
  position : relative;
  top : 30px;
  
  width:  150px;
  height: auto;
}
#showguests {
  position : relative;
  font-size : 26px;
  width : 100%;
  
}
#guestImages {
  position : absolute;
  top : 100%;
 height : 410px;
  width : 95%;
  padding : 15px;
  padding-bottom: 20px;
  overflow : auto; 
  border : 1px lightblue solid;
  font-size : 15px;
}
.thumbpic {
  position : relative;
  width : 70px;
  height : 70px;
  border-radius : 12px;
  padding: 1px;
  float : right;
}
.Gtext {
  font-size : large;
  
}
#GuestPic {
  position : relative;
  left : -10%;
  top : -250px;
  width : auto;
  height : auto;
  
}
#GuestPic .thumbpic {
  position : absolute;
  left : 75%;
  width : 150px;
  height : 150px;
  border-bottom: 3px grey solid;
  border-left : 3px grey solid;
  
}
#detailcont{  position : relative;
  width : 98%;
  color : black;
  top : -60px;
   border : 1px black inset;
  height : 440px;
  border-radius : 12px;

}

#detail_fs {
  position : relative;
  width : 45%;
  color : black;
  border : 1px black inset;
  height : 410px;
  margin : 0px;
  overflow : auto;
  top : 5px;
  left : 5px;
  
}

.multiliner {
    width : 60%;
  padding : 10px;
}
.buttonclass {
position : relative;
top : -37px;
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 16px;
  padding : 4px;
  margin : 10px;
  
}
.listimage {
  float : left;
  width : 130px;
  height : 110px;
  padding : 1px;
  
}

.comtag {
  position : relative;
  display : block;
  top : 5%;
  
  font-size : 15px;
  z-index : 7;
  width : 200px;
  border-style : dashed;
  border-color : black;
  border-width : 1px;
  padding : 15px;
}

.comtaghead {
  position : absolute;
  display : block;
  top : 40%;
  left : 55%;
  z-index : 8;
  width : 170px;
  text-align : center;
 
}

.infoblock {

  top : 50px;
  width : 600px;
  padding : 15px;
  height : 300px;
}

.listimage:hover .comtag {
  display : block;
  
}

#guestArea {
position : relative;
  top : -495px;
  left : 45%;
  width : 600px;
}
.dm-uploader {
top : 0px;
  height : 100px;
  padding : 10px;
}

.card {
  top : 0px;
  width : 100%;
}
.dm-uploader .btn {
  width : 180px;
  left : -40px;
  top : -20px;
}
.btn-info {
  position : relative;
  color : black;
  font-size : x-large;
  background-color : white;
    top : 20px;
  text-decoration: none;
}

.btn-info:hover {
  color : lightblue;
  background-color : white;
  text-decoration: underline;
 } 
