.linklist {
    border : 1px dashed blue;
}

#listsList {
    position :relative;
    width : 40%;
}

#AdminList{
    position : relative;
    width : 40%;
    float : right;
    border-color : green;
    
}
#detail_fs{
    position : relative;
    height : 340px;
    margin-top : 10px;
}
.buttonclass {
  position : relative;
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 20px;
  padding : 4px;
  margin : 10px;
  
}
.locked {
  background-color : rgba(2, 2, 2, 0.6);
  color : grey;
}

.adminC {
  background-color : rgba(255, 255, 255, 0.6);
  color : black;
}