/* This is IBISmaincss.css 
It describes the main page*/

#MainallContainer {
  position : absolute;
  width : 93vw;
  height : 90vh; 
  padding : 20px;
  border-style: inset;
  border-radius : 15px;
  left : 19px;
}
.ac(
top : 10px;
)
.littleDD {
	border-radius:35px;
}
.bigDD {
	border-radius:25px;
}

#MainallContainer #logo_image_holder{
    position: relative;
    left :0% ;
    margin-left: auto;
    margin-right: auto;
    width : 50%;
    height : 25%;
    top : -60px;
}
#MainallContainer #errorDiv {
  position : absolute;;
  border : 1px black solid;
  border-radius : 15px;
  padding : 10px;
  background-color : yellow;
  top : 60px;
  left : 30%;
  font-size : large;
  z-index : 7;
}
#MainallContainer #logo_image {
  height : 60%;
  width : 70%;
  z-index : 6;
}
#errorDiv {
  positon : relative;
  width : 25%;
  top : 5px;
  text-align: center;
}
#errorDiv img {
  position : relative;
  top : -20vh
  
}
#errorDiv #messSpan {
  position : relative;
  top : -20vh;
  font-size :25px;
  float : left;
  
  
}

#MainallContainer #detail_fs_main {
  position : relative;
  border-style: outset;
  top : -50px;
  width : 95%;
  padding : 5px;
  height : 65vh;
  border-radius : 25px;
  left: 2%;
}

#MainallContainer #dateTime {
  position: relative;
  left: -70%;
  z-index:3;
  font-size: 18px;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}
.hiddentext {
  display : none;
}

.optImage {
  position : relative;
  max-width: 100%;
  max-height : 160px;
  float : left;
  border-radius : 15px;
  padding: 3px;
  width: 120%;
}
#greetingDiv{
	position : relative;
	font-size : 28px;
	color : blue; 
	top : ;
}
#regholder {
  position : relative;
  width: auto;
}
#regpic {
  position : relative;
  width : 60%;  
  top: -0px;
  padding: 5px;
}
#regPic {
  position : relative;
   max-width: 44%; 
  font-size: 16px;
  border-radius: 20px;
  top: 10px;
  width: 320px;
}

#LinkList {
    position: relative;
    width: 25%;
   height: auto;
    margin-left: auto;
    border-radius : 15px;
    color: black;
    font-size : 20px;
    border : green 2px dashed;
    float:right;
    top : 25px;
    left: -8.5%;
    padding: 10px;
}

#DidYouKnow {
    position: relative;
    top: -150px;
    height: auto;
    width : 97%;
    border: green 1px dashed;
    text-align : center;
    padding: 10px;
   border-radius : 15px;
    
}
#dykText{
    text-align: center;
    text-decoration: none;
}

#FindInfo {
    position: relative;
    width:70%;
    height:470px;
    text-align: center;
    text-decoration: underline;
    padding:2px;
    padding-bottom : 5px;
    padding-left : 5px;
    top : -60px;
}

.findOption {
    float: left;
    margin-right: 5%;
    position: relative;
    }

.findOption .contextHelp {
    position: relative;
    z-index: 6;
    font-size: 20px;
    color: darkgreen;
    display: none;
    height: 30px;
  	text-align : center;    
}

.findOption:hover .contextHelp {
    display: block;
    position : relative;
    width: 200px;
}
 .findHeading {
   position : relative;
   width : 100px;  
   left : 25%;
   font-size : 200%;
}
.findOption:hover{
	cursor: pointer; 
}
#guestBook {
  position : relative;
  font-size : 180%;
  text-decoration: underline;
  text-align : center;
  border: blue 1px dashed;
  padding:5px;
  width : 23.5%;
  top : 15px;
  left : 65%;
  text-align : center;
   border-radius : 15px;
 }
#registerBlock {
  position: relative;
  width : 23%;
  height : 12%;
  top : 10px;
 z-index : 8;
  left : 65%;
  font-size: 180%;
  text-decoration: underline;
  text-align : center;
  border: green 1px dashed;
  padding:10px;
  /*! padding-bottom : 5px; */
  margin-bottom: 0px;
   border-radius : 15px;
}
.buttonclass{
     cursor : pointer;
}
#logouthead{
    cursor : pointer; 
}
#loginhead{
    cursor : pointer; 
}
.H2 {
  position : relative;
  /*! left : 30%; */
  font-size : 28px;
  text-decoration : underline;
  text-align: center;
}
#loginLink {
    position : absolute;
    top : 80px;
    left : 73%;
    text-align : left;
    font-size : 25px;
    padding : 10px;
    z-index : 18;
    cursor: pointer;
}
.loginshow {
   color : blue;
   width : 250px;
   background-color : rgba(225,235, 12, 0.7);
   border : 1px dashed orange;
   display : block;
   border-radius : 15px;
}
.logoutCstart {
  display : none;
}
.logoutCshow {
  display : inline;
}
/*this is searchForm.css*/
#SFallContainer {
 position : relative;
  width : 90vw;
  height : auto;
  padding : 20px;
  border-style: inset;
  border-radius : 15px;
  left : 1%;
}
#option3btn {
  position : relative;
  top : 50px;
  max-width: 100%;
  font-size: 80%;
}
#option2btn {
  position : relative;
  top : 10px;
  max-width: 70%;
  font-size: 80%;
  width: auto;
}
#SFallContainer #logo_image_holder {
    position: relative;
    left: 70%;
    top: -50px;
  width : 60%;
}
.italC {
  font-style: italic;
}
#SFallContainer #dateTime {
  position: relative;
  top: 15px;
  left: -70%;
  z-index:3;
  font-size: 18px;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}
.hiddentext{
  display: none;
}
#SFallContainer #logo_image{
	height : 60%;
  	width : 50%;
}
#SFallContainer .cathead {
	position : absolute;
   font-size : 250%;
   text-decoration : underline;
   top : 120px;
   left : 35%;
   z-index : 4;
}
#SFallContainer .selectList {
  position : relative;
  height : 25%;
  min-width : 190px;
  margin : 15px;
  font-size : 100%;
  padding : 1px;
}
#DDL1Veg{
  position : relative;
}
#DDL2{
  position : absolute;
   left : 20%; 
}
#DDL3dd{
  position : relative;
  width : 130px;
}
#DDLOption{
  position : absolute;
  left : 0%;
}
#SFallContainer #findOptions {
  position : relative;
  border : 1px black dashed;
  width : 70%;
  padding : 10px;
  height: 30vh;
}
#SFallContainer #ddl3Txt {
  font-size : 90%;
}
#selectBox {
    position : relative;
    border : 1px dashed red;
    width : 75%;
}
#findOptions input.buttonclass {
  position : relative;
}
#SFallContainer #pgButtons {
    position : relative;
    width: 500px;
  margin-bottom : 15px;
}
.buttonclass {
  position : relative;
   border-radius: 25px; 
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 16px;
  padding : 4px;
  margin : 5px;
  left : 0%;
}
#SFallContainer #theCategory {
  position : relative;
  padding : 10px;
  width : 20%;
   border-style : dashed;
  border-width : 2px;
  max-height: 260px;
  margin-right: 10px;
  float : right;
   overflow-y : scroll;
  top: 4px;
  left: -2%;
}
#SFallContainer #detail_fs{
position : relative;
  height : 70%;
  padding : 20px;
  width : 90%;
  top : 5px;
  border-radius : 22px;
}
#infoSet {
  position : relative;
  width : 500px;
  padding : 12px;
  width: 500px;
  border: 1px black solid;
  height: auto;
  max-height: 200px;
  overflow: auto;
}
.headingC {
  text-align : left;
  text-decoration: underline;
 font-size : 20px ;
}
.detailC {
  text-align:  left;
  word-wrap: normal;
  overflow: auto;
}
#specipicH {
  position: relative;
  width : 60%;   
  border: 1px black solid;
  width: 40%;
  height: 300px;
}
#speciePic {
  position : relative;
  top : -0px;
  width : auto;
  float: right;
}
#subContain {
  position : relative;
  width : 85vw;
  height : auto;
  max-height: 100vh;
  padding : 20px;
  border-style: inset;
  border-radius: 22px; 
  left: 1%;
}
#SFallContainer #catPicsList {
  position : relative;
  width : 115px;
  height : auto;
  top : 10%;
  max-height: 350px;
}
#catPicsList img {
  cursor : pointer;
  width : 260px;
  height : 200px;
}
/*this is details.css*/
#DETallContainer {
  position : relative;
  width : 100vw;
  height : 87vh;
  padding : 20px;
  border-style: inset;
  border-radius: 22px;
  top: 3vh;
}
#DETallContainer #dateTime {
  position: relative;
  top: 15px;
  left: -70%;
  z-index:3;
  font-size: 18px;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}
#DETallContainer .buttonclass {
  position: relative;
  border : 1px solid green;
  font-size: 16px;
  border-radius: 12px;
  padding : 5px;
}
#DETallContainer #detail_fs {
  position : relative;
  border-style: outset;
  top : -65px;
  width : 95%;
  padding : 5px;
  height :auto;
  padding-left : 10px;
  margin-left : 10px;
  border-radius: 12px;
  max-height: 650px;
}
#DETallContainer #logo_image_holder{
  position : relative;
   left : 68%;
  top : -40px;
 }
#DETallContainer #logo_image {
  height : 40%;
  width : 30%;
}
#DETallContainer #fqnNameList{
  position : relative;
  width : 75%;
  /*height :auto;*/
  height: 300px;
  min-height: 200px;
  padding : 10px;
  border-style: inset;
  border-radius: 12px; 
  overflow: auto;
  margin-top :  10px;
}
#DETallContainer .labelClass {
 text-align : left;
 text-decoration: underline;
 font-size : 20px ;
} 
.itemC {
  position : relative;
  width : 43%;
  border : 1px black dashed;
  float : left;
  margin : 5px;
  border-radius : 22px;
  padding : 10px;
  max-height : 95px;
}
#otherDetails {
  position : relative;
  width : 25%;
  border : 1px black dashed;
  border-radius : 5px;
  padding : 10px;
  margin-top : 10px;
  overflow : auto;
  max-height : 100px;
}
.oDD{
  display : none;
}
.hiddentext{
  display : none;
}
#DETallContainer #catHeading {
  position : relative;
  left : 10%;
  font-size : 330%;
  width: auto;
}
.italC {
  font-style : italic;
}
#oDDOutput {
  position : relative;
  border : 1px black dashed;
  border-radius : 12px;
  padding : 10px;
  max-height : 120px;
  max-width : 45%;
  overflow : auto;
  left : 29%;
  padding-top : 10px;
}
.oDHClass {
  cursor: pointer;
}
#DETallContainer #imgGrid {
  position : absolute;
  max-width : 340px;
  max-height : 310px;
  float : right;
  top : 10%;
  left : 78%;
  overflow : auto;
  margin-right : 10px;
  margin-top : 15px;
}
#DETallContainer .imgClass {
  width : 150px;
  height : 150px;
  border-radius: 12px;
  margin-left: 3px;
}
.longText {
  max-width : 85%;
}
#suboD {
  position : relative;
  width : 100%;
  max-height : 150px;
}
.OutputAnim {
  top : -70px;
}
.OutputMin {
  top : -70px;
}
.OutputVeg {
  top : -100px;
}
#DETallContainer #pgButtons {
position : relative;
  	top : -60px;
	left: 1%;
}
/*this is register.css*/

#REGallContainer {
  position : relative;
  width : 95%;
  height : 90%;
  padding : 20px;
  border-style: inset;
   border-radius: 22px;
}
#REGallContainer #dateTime {
  position: relative;
  top: 15px;
  left: -70%;
  z-index:3;
  font-size: 18px;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}
#REGallContainer #logo_image_holder{
  position : relative;
   left : 68%;
   top : -40px;
 }

#REGallContainer #logo_image {
  height : 40%;
  width : 30%;
}
#REGallContainer #pgButtons {
	position : relative;
}
.inputClass {
	position : relative;
	float : right;
	width : 50%;
	font-size : 18px;
	left : 0%;
	margin : 2px;
	top : -30px;
	padding : 3px;
}
#personalDetails {
	 width : 60%;
	 border: green 1px dashed;
	padding : 10px;
}
#imgDisplay{
	position : absolute;
	top : 15px;
	left : 65%;
	width : 30%;
	border: orange 1px dashed;
	padding : 1px;
	text-align : center;
}
#inputDiv {
	position : relative;
	border: green 2px solid;
	padding : 10px;
	width : 90%;
	left : 2%;
	border-style:ridge;
}
.thumbpic {
	border-radius : 12px;
  	width : 120px;
  	height : 120px;
}
#REGallContainer .labelClass {
	height : 32px;
	padding : 3px;
	font-size : 18px;
	margin : 1px;
}
.selectClass {
	font-size : 15px;
	height : 42px;
	border : green solid 1px;
}
.buttonclass {
  position : relative;
    border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 20px;
  padding : 4px;
  margin : 10px;
}
.fileClass {
    border : 1px dashed green;
}
#REGallContainer #detail_fs{
  position : relative;
  height : 70%;
  border-style: outset;
  padding : 20px;
  width : 90%;
  overflow : auto;
  white-space : nowrap;
}
/*this IBISUtilities.css*/
.linklist {
    border : 1px dashed blue;
}
#listsList {
    position :relative;
    width : 40%;
  
}
#listsList .linksclass {
  text-decoration: underline;
  color : black;
   cursor : pointer;
}
#listsList li {
  color : black;
  cursor : pointer;
  
}
#AdminList{
    position : relative;
    width : 40%;
    float : right;
    border-color : green;
}
#detail_fs{
    position : relative;
    height : 340px;
    margin-top : 10px;
}
.buttonclass {
  position : relative;
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 90%;
  padding : 8px;
  margin : 10px;
}
.locked {
  background-color : rgba(2, 2, 2, 0.6);
  color : grey;
}
.adminC {
  background-color : rgba(255, 255, 255, 0.6);
  color : black;
}
#viewsBlock {
    position: relative;
    border: black 1px solid;
    border-radius: 20px;
    padding: 15px;
    width: 15vw;
    font-size: 120%;
    top: -60px;
    left: 8px;
}
#ratingsBlock{
    position: relative;
    border: black 1px solid;
    border-radius: 20px;
    width: 16vw;
  	min-width:300px;
    height: 100px;
 	top : -225px;
  	left :20%;
  	display :none;
  	overflow: auto;
  	padding: 30px;
  	padding-right : 0px;
}
#ratehead {
  padding : 20%;
  font-size : 130%;
  text-decoration: underline;
}
#ratebut{
  	position : relative;
  	border: black 1px solid;
    border-radius: 20px;
    width: 16vw;
  	min-width:250px;
    height: auto;
  	top : -230px;
  	left :20%;
  	font-size : 190%;
  	text-decoration: underline;
 	 background-color: yellow;
}
.button:hover {
  cursor: pointer;
  background-color: blue;
}
.button{
  padding-left:20px;
}
#commentBlock {
  	position : relative;
  	border : 1px black solid;
  	border-radius : 25px;
	padding : 20px; 
  	width : 40%;
  	background-color: pink;
  	top : -270px;
  	left :38%;
  	display : none;
}
#commentBlock label {
  font-size : 120%;
}
#welcBlock {
  position : relative;
  border : 1px black solid;
  border-radius : 20px;
  width : 24%;
  left : 65%;
  height : auto;
  top : 5%;
  padding : 10px;
  padding-top: 0px;
}
#currScore {
  font-size : 300%;
}
/*profile section*/
#informDiv {
  position : relative;
  border : 2px black solid;
  border-radius : 20px;
  height : 80vh;
  border-style : outset;
  padding : 15px;
}
#nameSpan {
  position : relative;
  font-size : 350%;
}
#imageSpan img {
  position : relative;
  width : 20%;
  float : right;
  top : -60px;
}
#scoreSpan {
  position : relative;
  font-size : 500%;
  display : inline-block;
}
#infoDiv p {
  font-size : 200%;
}
#opt3btSpan {
  position : relative;
  width : 300px;
  height: auto;
  padding : 10px;
  margin : 10px;
  cursor : pointer;
  top : 50px;
  left: 125px;
} 
#buttContSpan {
  position : relative;
  display : block;
  width : 250px;
  font-size : 140%;
  left: 70%;
  top: -20vh;
  height: auto;
}
#op2btSpan {
 position : relative;
  max-width: 20%;
  height: auto;
  padding : 10px;
  margin :10px;
  cursor : pointer;
 top: 10px;
 left: 110px;
}
#ddl3Txt {
  position: relative;
  height: 20%;
  max-width: 150px;
  top: -12px;
  left: 20px;
}
#infoDiv p{
  position : relative;
  width : 35%;
  text-overflow: wrap;
  font-size : medium;
  
}
.localN{
  position : relative;
  max-width: 60%;
  display: block;
}
#imageSpan img {
  position : relative;
}
#imgDisplay2 {
  position : relative;
  float : right;
  width : 300px;
  top : -200px;
}
/*lostnFounf*/
#LostBlock {
  position : relative;
  border : 1px black solid;
  width : 45%;
  height : 60vh;
  padding : 10px;
  margin : 5px
}
#FoundBlock {
  position  : relative;
  float : right;
  width : 51%;
  border : 1px black solid;
  top : -63vh;
  left: -10px;
}
#pgButtonslnf {
  position : relative;
  width : auto;
  font-size : x-large;
  top : -55px;
  left : 4%;
}
#messDiv {
  position : relative;
  height : 80%;
  overflow : auto;
  top : 30px;
}
#messDiv li {
  font-size : large;
  cursor : pointer;
  width : auto;
  max-width : 90%;
}
#messDiv li:hover {
  color : blue;
}
/*end LnF*/
.headC {
  position : relative;
  font-size : x-large;
  text-decoration: underline;
  left : 40%;
}
.selectB {
  position : relative;
  top : 40px;
  clear : right;
  width: 30%;
  left: -25px;
  font-size: large;
}
.Gselect {
  position : relative;
  float : left;
  cursor : pointer;
  color : blue;
  margin : 3px;
  font-size : x-large;
  padding-left: 1.5%;
}
#GBlock {
  position : absolute;
  width : 80%;
  padding : 15px;
  top: 100%;
  left: 10%;
}
#Ghead {
  position : relative;
  display : block;
  left : 30%;
  font-size : xx-large;
  text-decoration:  underline;
}
#listsList #glList {
  position : relative;
  margin-left : -42px;
  list-style-type: none;
  cusrsor : pointer;
  text-decoration: underline;
}
#listStuff {
  position : relative;
  margin-left : -30px;
  display : none;
}
#retBlock {
  position : absolute;
  border : 1px black solid;
  width : 28%;
  display : block;
  top : -35%;
  z-index : 6;
  max-height : 20vh;
  background-color: rgba(52,34,14,80);
  color : aliceblue;
  overflow : auto;
  left: 80%;
}
.GitemC {
  position : relative;
  text-align: top;
  clear : right;
  font-size : x-large;
  padding-right : 40px;
  padding : 5px;
  z-index : 7;
}
.GdefC {
  position : relative;
  max-width : 130px;
  display : none;
}
.entryP {
  positon : relative;
}
#defBlock {
  position : absolute;
  border : 1px black solid;
  display : block;
  max-width : 40%;
  max-height : 80%;
  top : -80%;
  left : 30%;
  background-color: rgba(152,34,14,80);
  color : aliceblue;
  font-size : x-large;
  z-index: 6;
  padding: 5px;
  overflow: auto;
  left : 37%;
}
.Gbutton {
  position : relative;
  font-size : xx-large;
  left : 95%;
  padding-bottom : 1px;
  color : blue;
  cursor : pointer;
  width : 150px;
  top: -190px;
}
/*Sources page styles*/

#SrcallContainer {
  position : relative;
  width : 93vw;
  height : 100%; 
  padding : 20px;
  border-style: inset;
  border-radius : 15px;
  left : 19px;
}
#src_fs_main {
  position : relative;
  border-style: outset;
  top : -50px;
  width : 95%;
  padding : 15px;
  min-height: 120px;
  border-radius : 25px;
  left: 2%;
}
#SrcallContainer #dateTime {
  position: relative;
  left: -70%;
  z-index:3;
  font-size: 18px;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}

#SrcallContainer #logo_image_holder{
    position: relative;
    left :49% ;
    margin-left: auto;
    margin-right: auto;
    width : 50%;
    height : 25%;
    top : -60px;
}

#SrcallContainer #logo_image {
  height : 60%;
  width : 40%;
  z-index : 6;
}
#pgHead {
  position : relative;
  top : -60px;
  left : 40%;
  font-size : xx-large;
  text-decoration: underline;
  
}
#src_fs_main span {
  position : relative;
  float : left;
  font-size : medium;
  width : 20%;
  margin : 15px;
}
#src_fs_main input {
  position : relative;
  float : right;
  
}
#src_fs_main label {
  position: relative;
  left : 0px;
 } 
#src_fs_main select {
  position: relative;
  /*! float : right; */
  width : 45%;
  height : 20px;
  
}
#src_fs_main select option {
  position : relative;
  font-size : x-large;
  
}
#src_fs_main .buttonC {
  position : relative;
  float : left;
  width : 15%;
  height : 50px;
  font-size : xx-large;
  
}
#SrcallContainer .linkC {
  position : relative;
  font-size : x-large;
  top : -50px;
  left : 50px;

}
#retHeading {
  position : relative;
  
  
}
#utilHeading {
  position : relative;
  top : -20px;
  left : 40%;
  font-size : xx-large;
  text-decoration : underline;
  
  
}
