#allContainer {
  padding : 20px;
  border-style: inset;
  border-radius: 22px; 
  
}
#logo_image_holder {
    position: relative;
    left: 38%;
    top: -50px;
}
.italC {
  
  font-style: italic;
}

#dateTime {
  position: relative;
  top: 15px;
  left: -70%;
  z-index:3;
  font-size: 18px;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 30%;
}
.hiddentext{
  display: none;
}
#logo_image{
height : 60%;
  width : 50%;
}

.cathead {
position : absolute;
      font-size : 250%;
      text-decoration : underline;
   top : 20%;
      left : 35%;
      z-index : 4;
}

.selectList {
  position : relative;
  font-size : 15px;
  height : auto;
  width : auto;
  margin : 15px;
  font-size : 16px;
  padding : 5px;
  }
#selectBox {
    position : relative;
    border : 1px dashed red;
    width : 75%;
    
}

#pgButtons {
    position : relative;
    left : 2%;
  
}

.buttonclass {
  position : relative;
   border-radius: 25px; 
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 16px;
  padding : 4px;
  margin : 5px;
  left : 0%;
  
}
#theCategory {
  position : relative;
  padding : 10px;
 width : 122px;
   border-style : dashed;
  border-width : 2px;
  height : 170px;
  margin-right: 10px;
  float : right;
   overflow-y : scroll;
}


#detail_fs{
position : relative;
  height : 70%;
  padding : 20px;
  width : 90%;
  top : 5px;
  border-radius : 22px;
  
}

#infoSet {
  position : relative;
  width : 500px;
  padding : 12px;
  top : -175px;
  left : 200px
  
  
}
.headingC {
  text-align : left;
  text-decoration: underline;
 font-size : 20px ;
 
}

.detailC {
  text-align:  left;
  
}
#specipicH {
  position: relative;
  width : 60%;   
  
}
#speciePic {
  position : relative;
  top : 40px;
  width : auto;
  
}
#subContain {
  position : relative;
   width : 95%;
    height : auto;
  min-height: 200px;
  padding : 20px;
  border-style: inset;
  border-radius: 22px; 

}
#catPicsList {
  position : relative;
 
  width : 115px;
  height : auto;
  top : 10%;
}
.img {
  cursor : pointer;
}
