
#SFallContainer {
	width : 98%;
	height : 95%;
	margin : 2px;
	border : 1px lightblue solid;
}

#SFallContainer #logo_image_holder {
	position : relative;
	left : 30%;
	width : 80%;
	height : 16%;
	top : -50px;
}
#SFallContainer #dateTime {
	top : -10px;
	width : 60%;
	left : -40%;
	font-size : medium;

}

#SFallContainer #catHeading {
	position : relative;
	font-size : xx-large;
	top : -55px;
	left : 10%;
	
}
#Ghead {
	font-size : xx-large;
	left : 25%;
	
}
.Gselect {
	padding-right : px;
	font-size : xx-large;
	display : none;
}
.Gbutton{
position: relative;
font-size: xx-large;
left: 78%;
padding-bottom: 1px;
color: blue;
cursor: pointer;
width: 150px;
top: -25px;
}
#GBlock {
	position : relative;
	left : -15px;
	width : 100%;
	top : -30px;
}
#tablecont  {
	position : relative;
	width : 80%;

	top : -0px;
	margin-top : 10px;
}
#retBlock {
position: relative;
border: 1px black solid;
width: 68%;
display: block;
top: -90px;
z-index: 6;
max-height: 10vh;
background-color: rgba(52,34,14,80);
color: aliceblue;
overflow: auto;
left: 8%;
	
}
#defBlock {
position: relative;
border: 1px black solid;
max-width: 68%;
max-height: 80%;
top: -85px;
background-color: rgba(152,34,14,80);
color: aliceblue;
font-size: x-large;
z-index: 6;
padding: 5px;
overflow: auto;
left: 8%;
	
}
#findOptions {
	position :relative;
	left : -10px;
	padding : 10px;
	
}
#SFallContainer #subContain {
	position : relative;
	height : 60%;
	width : 99%;
	left : -10px;
	top : -40px;	
}
#hitCnt {
  position : relative;
  top : -30px;
  left : 75%;
  z-index: 1;
  font-size : x-large;
	width : 65px;
  
}
#SFallContainer #pgButtons {
	position: relative;
	width: auto;
	left: 15px;
	margin-bottom : 2px;
	top : -40px;
}
#infoSet {
	position : relative;
	width : 98%;
	max-height : 140px;
	overflow : auto;
	margin-bottom : 15px;
	top : 0px;
	left : -10px;
}
#SFallContainer .selectList  {
    position: relative;
    height: auto;
    min-width: 90px;
    margin: 1px;
    font-size: smaller;
    padding: 1px;

    z-index: 10;
}
#DDL1Veg {
	position : relative;
	
}
#DDL2 {
	position: relative;
	width : auto;
	max-width: 120px;
	font-size : small;
	padding : 2px;
}
#DDL3dd {
	position : relative;
	width : auto;
}
#ddl3Txt {
	position : relative;
	width : 170px;
}
#buttContSpan {
	position : relative;
	top : 10%;
	left : 0%;
	width : 90%;
	
}
#op2btSpan {
	top : 95px;
	left : -30px;
	
	height : 30px;
	font-size : small;
	
}
#alphList {
	position : relative;
	height : 60px;
	overflow: auto;
	width : auto;
	left : 20px;
display : none;
}
#option2btn {
	position : relative;

		font-size : small;
}
#opt3btSpan {
	width: 20px;
		top : 55px;
	left : 120px;
}
#option3btn {
	position : relative;
	font-size : small;

	
}
#SFallContainer #catPicsList {
    position: relative;
    width: auto;
    top: -0%;
    max-height: 160px;
}
#DDL1Min {
	position : relative;
	max-width : 300px;
	
}
#SFallContainer #theCategory {
    position: relative;
    padding: 1px;
    width : auto;
    max-height: 200px; 
    margin-right: 1px;
    overflow-y: scroll;
    top: -40px;
     left: -3%; 
}
#catPicsList img {
	width : 60%;
	/*! height : 40%; */
	z-index : 7;
	top: -80px;
}
#catPicsList p {
	position : relative;
	width : 70px;
	top : 10px;
	left : 152px;
	z-index : 1;
	background-color: yellowgreen;
	
}
#speciePic {
	position : relative;
	width : 40%
}
#speciePic img {
	width : 99%;
	height : 35%
	
}
.selectholder .helpT {
	position: absolute;
	z-index: 0;
	font-size: ;
	color: darkgreen;
	display: none;
	height: auto;
	text-align: center;
	max-width: 150px;
	background-color: yellowgreen;
	left: 160px;
	top : 40px;
}
