#MainallContainer {
	position : relative;
	border : 1px lightblue solid;
	border-radius : 10px;
	padding : 5px;
	width : 99%;
	left : 0px;
	height : auto;
}

h1 {
position : relative;
font-size : large;
}
#dateTime {
	position : relative;
	width : auto;
	height : 10%;
	margin-left : 6%;
	padding : 5px;
}

#logo_image_holder {
position : relative;
	width : 70%;
	height :20%;
float : right;
	padding : 5px;
	top : -15px;
}
#MainallContainer #logo_image {
 position : relative;
	height: 53%;
	width: 70%;
	z-index: 6;
	left : 50%;
}
#loginLink {
	left : 3%;
	z-index: 6;
	top : 44px;
	font-size : x-large;
	left : 10%
	
}
.loginshow {
	position : absolute;
   color : blue;
   width : auto;
   background-color : rgba(225,235, 12, 0.7);
   border : 1px lightblue orange;
   display : block;
   border-radius : 15px;
   left : 3%;
   padding : 5px;
}

#title #mainline {
	position : relative;
	left : 50%;
	font-size : x-large;
	text-decoration : underline;
}

#title #subline {
	position : relative;
	left : 10%;
	font-size : large;
	text-decoration : underline;
}
#detail_fs_main {
	position : relative;
	border : 1px lightblue solid;
	border-radius : 10px;
	padding : 5px;
	width : 95%;
	top : 60px;
	
}
#MainallContainer #detail_fs_main {
  position : relative;
  border-style: outset;
  top : -50px;
  width : 95%;
  padding : 5px;
  height : auto;
  border-radius : 25px;
  left: 2%;
}

#adminBlockholder {


	background-color : lightblue;
	border-radius : 10px;
	margin : 5px;
	padding : 2px;
	left : 5px;

}
#adminBlock {
	position : relative;

}
#greetA label {
	font-size : large;
	width : 130px
}
#greetA label:hover {
	text-decoration:  underline;
	cursor : pointer;
}
#greetingDiv {
	position: relative;
	font-size: large;
	color: blue;
	top: -110px;
	left: 140px;
}

#register {
	float : left;
	border : 1px blue solid;
		font-size : large;
	text-decoration : underline;
	cursor : pointer;

	width : auto;
}
#guestbook {
	float : right;
	border : 1px blue solid;
		font-size : large;
	text-decoration : underline;
	cursor : pointer;
	width : auto;
}
#FindInfo {
	position : relative;

	background-color : lightblue;
	border-radius : 10px;
	margin-right : 5px;
	padding : 5px;
	width : 50%;

}

#FindInfo img {
	position : relative;
	cursor : pointer;
	margin-left : 5px;
	width : 80%;
}
#FindInfo h2 {
	position : relative;
	font-size : large;
	text-decoration : underline;
}
.findHeading {
	position : relative;
	left : 25%;
}

#LinkList {
	position : relative;
	width : 40%;
	background-color : lightgreen;
	border-radius : 10px;
	padding : 5px;
}

#LinkList p {
	font-size : x-large;
	text-decoration : underline;
}
#LinkList li {
	border-bottom : 1px blue dashed;
	font-size : large;
}

#DidYouKnow {
	position : relative;
	width : 99%;
	border : 1px lightblue solid;
	margin : 2px;
	border-radius : 10px;
	padding : 5px;
	margin-bottom : 50px;
}
#DYK h2 {
	position : relative;	
  /*! top : -20%; */
  left: 20%;
  font-size : large;
  text-decoration: underline;
}
#dykText{
	position : relative;	
top : -30px;
	width : auto;
	left : -10px; 
  text-decoration: none;

}
#MainallContainer #errorDiv img {
	position: relative;
	top: -vh;
	left: -4%;
}
#welcBlock  {
	position : relative;
	width : 80vw;
}
