#MainallContainer {
	position : relative;
	border : 1px lightblue solid;
	border-radius : 10px;
	padding : 5px;
	width : 95%;
	left : 0px;
	height : 99vh;
}

h1 {
position : relative;
font-size : large;
}
#dateTime {
	position : relative;
	width : auto;
	height : 10%;
	padding : 5px;
	font-size : small;
	top : -30px;
}

#MainallContainer #logo_image_holder {
position : relative;
	width : 60%;
  float : right;
	padding : 5px;
	top : -20px;
	left : -40px
}
#MainallContainer #logo_image {
 position : relative;
	height: 100%;
	width: 100%;
	z-index: 6;
	left : 50%;
}
#loginLink {
	z-index: 6;
	top : 44px;
	font-size : large;
	left : 10%
	
}
.loginshow {
	position : absolute;
   color : blue;
   width : auto;
   background-color : rgba(225,235, 12, 0.7);
   border : 1px lightblue orange;
   display : block;
   border-radius : 15px;
   left : 3%;
   padding : 5px;
}

#title #mainline {
	position : relative;
	left : 50%;
	font-size : x-large;
	text-decoration : underline;
}

#title #subline {
	position : relative;
	left : 10%;
	font-size : large;
	text-decoration : underline;
}

.findOption .contextHelp{
	display : none;
}
#MainallContainer #detail_fs_main {
  position : relative;
  border-style: outset;
  top : -55px;
  width : 95%;
  padding : 5px;
  height : 83%;
  border-radius : 25px;
  left: 2%;
	overflow : auto;
	padding-bottom : 15px;
}

#adminBlockholder {
	background-color : lightblue;
	border-radius : 10px;
	margin : 5px;
	padding : 2px;
	left : 5px;
  height : 20%;

}
#adminBlock {
	position : relative;

}
#regholder {
	position : relative;
	height : 80px;
}
#regpic img {
	width : 50%;
	height : 50%;
	top : -2px;
}
#greetA {
	left : 90px;
	width : 150px;
}
#greetA label {
	position : relative;
	font-size : large;
	width : 150px;
	top : 30px;
	left : 0px;
}
#greetA label:hover {
	text-decoration:  underline;
	cursor : pointer;
}
#greetingDiv {
	position: relative;
	font-size: large;
	color: blue;
	top: -60px;
	left: 100px;
	width :100px;
	max-width : 150px;
	overflow : auto;
}

#register {
	float : left;
	font-size : large;
	text-decoration : underline;
	cursor : pointer;

	width : auto;
}
#guestbook {
	float : right;
	font-size : large;
	text-decoration : underline;
	cursor : pointer;
	width : auto;
}
#FindInfo {
	position : relative;
	background-color : lightblue;
	border-radius : 10px;
	margin-right : 5px;
	padding : 5px;
	width : 50%;
	height : 320px;
	overflow : auto;
}

#FindInfo img {
	position : relative;
	cursor : pointer;
	margin-left : 5px;
	width : 55%;
	height : 50%;
}
#FindInfo img:hover {
	width : 60%;
}
#FindInfo h2 {
	position : relative;
	font-size : medium;
	text-decoration : underline;
	text-align: left;
	margin-bottom : 0px
}
.findHeading {
	position : relative;
	left : 5%;
}
#loginhead {
	font-size : x-large;
}
#MainallContainer #dateTime{
	position : relative;
	top : -10px;
	font-size : medium;
	left : -60px;
}
#LinkList {
	position : relative;
	width : 40%;
	background-color : lightgreen;
	border-radius : 10px;
	padding : 5px;
}

#LinkList p {
	font-size : x-large;
	text-decoration : underline;
}
#LinkList li {
	border-bottom : 1px blue dashed;
	font-size : large;
}

#DidYouKnow {
	position : relative;
	width : 95%;
	border : 1px lightblue solid;
	margin : 2px;
	border-radius : 10px;
	padding : 5px;
	margin-bottom : 50px;
}
#DYK h2 {
	position : relative;	
  /*! top : -20%; */
  left: 20%;
  font-size : large;
  text-decoration: underline;
}
#dykText{
	position : relative;	
top : -30px;
	width : auto;
	left : 0px; 
  text-decoration: none;

}
#MainallContainer #errorDiv img {
	position: relative;
	left: 2%;
}
#MainallContainer #errorDiv #messSpan {
  position : relative;
  top : 40%;
  font-size : large;
  float : left;
  left : 1%;
  
}
#welcBlock  {
	position : relative;
	width : 80vw;
}
#MainallContainer #errorDiv {
	position: absolute;
	border: 1px black solid;
	border-radius: 15px;
	padding: 10px;
	background-color: yellow;
	top: 160px;
	left: 0%;
	font-size: large;
	z-index: 7;
}
#forgotTag {
  position : relative;
  font-size : small;
  top : -5px;
  left : 0px;
  text-decoration: underline;
  
  
}
#response .linkC {
  left : 88%;
}
#errorDiv #Uresponse .labelclass  {
  position : relative;
  left : 0px;
  font-size : medium;
	margin-bottom : 10px;
}
#errorDiv #Uresponse .linkC{
	left : 90%;
} 