#DETallContainer {
  position : relative;
  width : 90%;
  height : 95vh;
  padding : 20px;
  border-radius: 22px;
  border : 1px lightblue solid;
  top: 3vh;
}
#DETallContainer #dateTime {
  position: relative;
  top: -10px;
  left: -50%;
  z-index:3;
  font-size: medium;
  margin-left:auto;
  color: green;
  width: 50%;
}
a {
  color : black;
}
a:hover {
  color : lightblue;
  text-decoration : underline;
}
#DETallContainer .buttonclass {
  position: relative;
  border : 1px solid green;
  font-size: 16px;
  border-radius: 12px;
  padding : 5px;
}

#DETallContainer #logo_image_holder{
  position : relative;
   left : 110%;
  top : -50px;
  width : 100%;
 }
#DETallContainer #logo_image {
  height : 100%;
  width : 100%;
}
#DETallContainer #pgButtons {
position : relative;
  	top : -45px;
	left: 8%;
  font-size: xx-large;
  cursor : pointer;
  z-index : 3;
}



/*profile section*/
#informDiv {
  position : relative;
  border : 2px lightblue solid;
  border-radius : 20px;
  height : auto;
  padding : 5px;
  top : -50px;
}
#nameSpan {
  position : relative;
  font-size : large;
}
.hiddentext {
display : none;
}
#imageSpan img {
  position : relative;
  width : 30%;
  float : right;
  top : -30px;
}
#scoreSpan {
  position : relative;
  font-size : 500%;
  display : inline-block;
}
#infoDiv p {
  font-size : 200%;
}
#edUser {
	position: absolute;
	top:-10px;
	background-color: white;
	border: none;
	border-radius: 12px;
	padding: 5px;
	width: 105%;
	left: px;
	display: none;
  height : 350px;
  max-height : 400px;
  z-index : 4;
}
#subContain {
	position: relative;
	width: 105%;
	height: 280px;
	padding: 10px;
  border : none;
	border-radius: 12px;
	left: -0%;
  top : -10px;
  overflow : auto;
}
#Heading {
  position : absolute;
	font-size: large;
  top : -25px;
}
.inputClass {
	position: relative;
	/* float: right; */
	width: 90%;
	font-size: small;
	left: 0%;
	margin: 2px;
	top: -0px;
	padding: 3px;
}
#allContainer {
	position: relative;
	border-radius: 20px;
	padding-top: 10px;
	top: 30px;
  height : 95%;
  width : 95%;
  left : 10px;
  
}
#closewin {
position : relative;
display : none;
z-index : 5;
  top : 0px;
  left : 0%;
    font-size : large;

}
#regbuttons {
  position : absolute;
  top : 10px;
  left : 25px;
}
#updBut {
  position : relative;
  top : 0px;
  left : 0px;
  font-size: large
}
#personalDetails {
	position: relative;
	top: 30px;
	width: 95%;
	padding: 5px;
  left : -10px;
}
#personalDetails input {
  position : relative;
  width : 90%;
}
#securityInfo {
	position: relative;
	width: 95%;
  left : -5px;
  top : 0px;
}
#securityInfo label {
  position : relative;
  font-size : small;
  top : 20px;
  display : none
}
#secA {
  position : relative;
  font-size : small;
}
#secQ {
  position : relative;
  font-size : x-small;
  
}
#imgDisplay1 .labelClass {
	position: relative;
	left: -105px;
	font-size: small;
	width: 110px;
  top : 0px;
}
#imgDisplay1 {
  position : absolute;
  height : 80px;
  width : 80px;
  left : 100px;
  top : 200px;
  border : none;
}
#imgDisplay1 img {
  position : absolute;
  width : 80px;
  height : 80px;
  top : -2px;
  left : 12px;
}
#regPic {
	position: relative;
	max-width: 44%;
	font-size: small;
	top: 70px;
	width: 320px;
	left: -160px;
}

#regSubmit {
  position : relative;
  top : -95px;
  left : 120px;
}
.dm-uploader {
  position : relative;
  top : -30px;
  left : -105px;
  height : 100px;
  width : 65%;
  border : none;
}
.dm-uploader .btn {
  position : relative;
  font-size : small;
  width : 90px;
  left : -40px;
  padding : 0px;
   top : -20px;
}
.card {
position : relative;;
  top : -60px;
  left : -110px;
  width : 210px;
}
