/*Source styles*/

#SrcallContainer {
  position : relative;
  width : 95%;
  height : 100%; 
  padding : 20px;
  border : 1px lightblue solid;
  border-radius : 15px;
  left : 5px;
  top : 20px;
}
#src_fs_main {
  position : relative;
  border : 1px lightblue solid;
  top : -35px;
  width : 95%;
  padding : 15px;
  min-height: 120px;
  border-radius : 10px;
  height : auto;
  overflow : auto;
}
#SrcallContainer #dateTime {
  position: relative;
  left: -37%;
  z-index:3;
  font-size: small;
  margin-left:auto;
  padding-left:10px;
  color: green;
  width: 70%;
  top : -10px;
}

#SrcallContainer #logo_image_holder{
    position: relative;
    left :29% ;
    margin-left: auto;
    margin-right: auto;
    width : 60%;
    height : 45%;
    top : -40px;
}

#SrcallContainer #logo_image {
  height : 60%;
  width : 70%;
  z-index : 6;
}
#pgHead {
  position : relative;
  top : -40px;
  left : 20%;
  font-size : x-large;
  text-decoration: underline;
  width : auto;

  
}
#src_fs_main span {
  position : relative;
  float : left;
  font-size : medium;
  width : 20%;
  margin : 15px;
}
#src_fs_main input {
  position : relative;
  width : 180px;
  left : 50%;
  
  
}
#Ocontainer input {
  position : relative;
  float : none;
  width : auto;
  font-size : x-large;
  
}
#src_fs_main label {
  position: relative;
  left : 0px;
 } 
#src_fs_main select {
  position: relative;
  /*! float : right; */
  width : 45%;
  height : 20px;
  
}
#src_fs_main select option {
  position : relative;
  font-size : x-large;
  
}
#src_fs_main .buttonC {
  position : relative;
  float : left;
  width : 15%;
  height : 50px;
  font-size : xx-large;
  
}

#pgButtons li {
  position : relative;
  float : left;
  top : -50px;
  left : 1%;
  font-size : large;
  margin : 5px;
  border-radius : 10px;
  padding : 3px;
  width : 80px;
  height : 30px;
  text-align : center;
  
}
.linkC {
  position : relative;
  border : none;
  background : none;
  font-size: x-large;
  text-decoration : underline;
  cursor : pointer;
  margin : 10px;
}
.linkC:hover {
  color : blue;
  
}
#retHeading {
  position : relative;
  
  
}
#Ocontainer {
    position : relative;
    left : -12%; 
    top : 25px;
    width : 100%;
    margin : 5px;
    
}
#src_fs_main .buttonC {
    position : relative;
    width : auto;
    top : 0px;
  left : 20%;
  margin : 5px;
}

#Ocontainer select {
    position : relative;
    left : 5px;
    width : auto;
    max-width : 90%;
    font-size: large;
}

#pgOptions {
    position : relative;
    left : -78%;
    
}#pgOptions .button {
    position : relative;
    width : 120px;
    font-size : large;
    margin : 4px;
    z-index : 7;
    top : -18px;

}
#refContainer #refSelect {
	position : relative;
	left : 10%;
	height : auto;
	padding : 3px;
}
#dataF {
    position : relative;
    left : -8px;
    width : 95%;
  top : 40px;
  
}
#dataF fieldset {
    border : none;
    
}
.inputSet {
	position : relative;
	width : 100%;
	top : 10px;
}
#dataF .labelC {
	position : relative;
	font-size : large;
	height : auto;
	width : 200px;
	margin : 0px;
}

#dataF .inputC {
	position : relative;
	width : auto;
	max-width : 249px;
	left : 2px;
	padding : 3px;
	float : none;
		height : auto; 
		margin-top : 3px;
}
#dataF .button {
	position : relative;
	left : -20px;
	margin : 3px;
	top : 10px;
}
.hiddentext {
  display : none;
}

