/*Sources page styles*/

#SrcallContainer {
 position : relative;
  width : 95vw;
  height : 95vh;
  padding : 10px;
  border : 1px lightblue solid;
   border-radius: 22px;
  background-color : none;
  overflow : auto;
  left : 0px;
}

#src_fs_main {
  position : relative;
  height : 60%;
  border : 1px lightblue solid;
  width : 90%;
	margin : 5px;
  overflow : auto;
	top : -15%;
	border-radius : 15px;
  left : 0px;
  padding : 15px;
}

#SrcallContainer #dateTime {
  	position : relative;
	left : -40%;
	top : 0%;
  font-size : medium;
  width : 60%;
}

#SrcallContainer #logo_image_holder{
    position : relative;
	left : 0%;
	top : -8%;
}


#SrcallContainer #logo_image {
  height : 60%;
  width : 70%;
  z-index : 6;
  top : -15px;
}
#pgButtons li {
 margin : 5px;
 border-radius : 5px;
 font-size : large;

 padding : 5px;
}
#pgHead {
  position : relative;
  top : -15%;
  left : 30%;
  font-size : large;
  text-decoration: underline;
  
}
#src_fs_main .inputSet {
  position : relative;
  font-size : large;
  width : 90%;
  margin : 5px;
  left : -80px;
  top : 20px;
  
}
#src_fs_main .inputC {
  position : relative;
  left : 0%;
  left : -30px;
   width : 99%; 
  max-width : 90%;
  overflow : auto;
}
#src_fs_main label {
  position: relative;
  left : 0px;
	width : 80%;
 } 
#src_fs_main select {
  position : relative;
   width : 95%; 
  height : auto;
  
}
#src_fs_main select option {
  position : relative;
  font-size : medium;
  height : auto;
  
}
#src_fs_main .buttonC {
  position : relative;
  width : auto;
  height : auto;
  font-size : large;
  
  padding: 0px;
}
#SrcallContainer .linkC {
  position : relative;
  font-size : medium;
   top : -70px; 
  left : 15px;
  margin : 10px;

}
#Ocontainer {
    position : relative;
    left : 0%;
    top : 5px;
    width : 99%;
    margin : 5px;
    
}
#Ocontainer input {
  position : relative;
    width : auto;
    left: -160px;
     top : 0px;
}

#Ocontainer #refContainer {
    position : relative;
    left : -00%;
    font-size: small;
   width : 99%;
}
#Ocontainer #refSelect {
  position : relative;
  padding : 0px;
   width : auto;
  max-width : 90%;
  left : -20px; 
  margin : 5px;
  
}
#pgOptions {
    position : relative;
    left : -50%;
    z-index : 6;
}

#pgOptions input {
    position : relative;
    width : auto;
    font-size : small;
  margin-left  : 5px;
  left : 80px;
    
}
#dataF {
    position : relative;
    left : 40%;
     width : 95%; 
}

/* Glossary styles*/
#mainContainer {
position : relative;
top : 20px;
  width : 100%;
  max-height : 99vh;
  height : 95vh;
  margin-bottom : 0px;


  
}
#GlBody #dateTime {
  position : relative;
  top : -10px;
  left : 0px;
  color : green;
  font-size : small;
  
}
#GlBody #logo_image{
  position : relative;
   width : 50%; 
  left : 50%;
  top : -50px;
}
#subContainer {
  position : relative; 
  width : 100%;
  margin : 0px;
  height : 70%;
  overflow : auto;
  border : 1px lightblue solid;
  border-radius : 12px;
  
}
#glossEntry {
position : relative;
border : none;
height : 90%;
}
#glossEntry img {
  position : relative;
  width : 100px;
  height : 100px;
  
}
#glossEntry .glossP {
  position : relative;
  width : auto;
  height : auto;
  
}
#glossEntry .itemC {
  position : relative;
  width : 100%;
  height : auto;
  overflow : auto;
	border : none;
  }
#glossEntry textarea {
  position : relative;
  height : 40px;

  }

#diagram0 .labelText {
  position : relative;
  font-size : large;
  top : 10px;
  left : 0%;
}
#diagram0 input {
	position: relative;
	left: 0%;
	top: 0px;
	width: 89%;
}
.glossP {
  position : relative;
  top : 5px;
  height : 20%;
  left : -55%;
  
}
#logo_image {
    position: relative;
    width: 40%;
    left: 45%;
  top : -40px;
  left : 60%;
}
#GlBody #glHeading {
  position : relative; 

  font-size : large;
  text-decoration : underline;

  top : -55px;
  width : 200px;
}
#GlBody #pgButtons {
  position : relative;
  left : 0%;
  width : 250px;
  top : -35px;
}
#GlBody #pgButtons input {
  position : relative;
  border-radius : 5px;
  font-size : large;
  width : auto;
  padding : 0px;
  
}
#GlBody #pgButtons a {
  position : relative;
  font-size : large;
  
}
#textstuff {
	position: relative;
	display: -moz-groupbox;
	width: 99%;
	left: 0px;
}
.dm-uploader {
padding : 5px;
   border : none;
  width : 50%;
}
.dm-uploader .btn {
position : relative;
  top : -20px;
 
  padding : 5px;
  width : 100px;
  left : -30px;
  
}
.card{
  position : relative;
  top : 10px;
}
#imgDisplay {
position : relative;
border : none;
top : -270px;
left : 60%;
  height : 100px;
  width : 100px;
}
.thumbpic {
 position : relative;
 width : 100px;
 height : 100px;
}
#ajaxBox {
  left : 40px;
  width : 80%;
}
