/*start utilities*/
#UtilallContainer {
  position : relative;
  width : 93%;
  height : 90vh; 
  padding : 20px;
  border : 1px lightblue solid;
  border-radius : 15px;
  left : 0px;
  overflow : auto;
  top : 20px;
}
#UtilallContainer #dateTime {
  position : relative;
  color : green;
  font-size : medium;
}
#controlP {
  position : relative;
  top : -1%;
  font-size : x-large;
  left : 2%;
  width : 200px;
}

#logo_image_holder {
 position: relative;
    left : 15% ;
    margin-left: auto;
    margin-right: auto;
    width : 60%;
    height : 45%;
    top : -10px;
}
#UtilallContainer #logo_image {
 height : 60%;
  width : 70%;
  z-index : 6;
}
#listsList {
    position :relative;
    width : 48%;
  padding : 5px;
  
    /*! color: blue; */
} 
#listsList .linksclass {
  text-decoration: underline;
  color : black;
   cursor : pointer;
}
#listsList li {
  color : blue;
  cursor : pointer;
  
}
#AdminList{
    position : relative;
    width : 48%;
    float : right;
    border-color : green;
   padding : 5px;
}
li {
  list-style: none;
  margin-left : -35px;
  
}
.listItem {
	padding : 3px;
	border-radius : 10px;
	margin : 3px;
}
#UtilallContainer #detail_fs{
    position : relative;
     height : 300px; 
    margin-top : 10px;
  border : 1px lightblue solid;
  padding : 10px;
  border-radius : 15px;
  top : -4%;
}

#utilHeading {
  position : relative;
  top : -0%;
  left : 25%;
  font-size : xx-large;
  text-decoration : underline;
  width : 200px;
}
.locked {
  background-color : rgba(2, 2, 2, 0.6);
  color : grey;
}
.adminC {
  background-color : rgba(255, 255, 255, 0.6);
  color : black;
}
.linklist {
    border : 1px dashed blue;
}
#listsList #glList {
  position : relative;
  margin-left : -42px;
  list-style-type: none;
  cursor: pointer;
  /*! text-decoration: underline; */
}
#listStuff {
  position : relative;
 /* margin-left : -30px;*/
  display : none;
}


