#allContainer {
  position : relative;
  width : 95%;
  height : 90%;
  padding : 20px;
  border-style: inset;
  border-radius: 22px;
 
}
#pgButtons {
    position : relative;
  
    width: 500px;
    top: -50px;
}

.buttonclass {
  position : relative;
   border-radius: 25px; 
  border : green solid 1px;
  height : auto;
  width : auto;
  font-size : 16px;
  padding : 8px;
  left : 0%;
  
}


#logo_image {
  position : relative;
  width : 30%;
  left : 70%;
  top : 20px;
}
.hiddentext {
  display : none;
  
}

#detail_fs_min {
  position : relative;
  border-style: outset;
  top : -45px;
  width : 95%;
  padding : 15px;
  height : auto;
  padding-left : 15px;
  margin-left : 10px;
  overflow : auto;
  border-radius : 15px;
   
}

#dateTime {
  position: fixed;
  top: 12px;
  left: 20px;
  z-index:3;
  font-size: 18px;
  margin-left:auto;
  padding-left:0px;
  color: green;
}
.nothiddentext {
  position : relative;
  width : 100%;
  font-size : 110%;
  
}
.inputClass {
  position : relative;
  float : left;
  margin-right : 32px;
  width : 20%;
}

#dataForm {
  position : relative;
  width : 95%;
 text-align: center;
  border-radius : 18px;
  height :auto;
}
#editImageDiv {
  position : relative;
  left : 5%;
  
}
.labelclass{
  position : relative;
  font-size : 20px;
  width : auto;
  height : auto;
  text-decoration : underline;
  
}
.labelClass {
  position : relative;
  width : auto;
  float : left;
  font-size : 120%;
  text-decoration: underline;
}
#headingText {
  position : relative;
  font-size: 32px;
  left : 30%;
  top : -40px;
  
}
#imgDisplay {
	position : relative;
	border : 1px black dashed;
  background-color : rgba(205,135, 12, 0.7);
  padding: 2px;
  padding-top: 3px;
  width : 150px;
  max-height : 170px;
  overflow: auto;
  left : -170px;
  top : -70px;      		
}
.imgClass{
  	position : relative;
	width : 80%;
	height : 50%;
  
  	border-radius:  15px;
}
#newtagslist{
   position : relative;
   top : -228px;
  width : auto;
   left : 120%;
   padding : 5px;
  
}
#newtagslist input {
  width : 300px;
  
}
.listitemC {
  width : 170px;
 padding-left : 2px; 
  
}


.thumbpic {
	position : relative;
	width : 120px;
	height : 100px;
	border-radius: 12px;
}
.imgHolder {
  position : relative;
  width : 120px;
  max-height : 150px;
  overflow : auto;
  overflow-y: scroll;
}
#images {
  position : relative;
  height : 200px;
  border : 1px black solid;
  overflow : auto;
  top : -30px;
  left : 3px;
  width : 98%;
  overflow-x:  hidden;
  
}
#oldImages {
  position : relative;
  top : 8px;
  padding-left : 12px;
  width:  200px;
}

#newImages {
  position :absolute;
  top : 5px;
  left : 55% ;
  width : 200px;;
  
  
}
#oldTags {
  position : relative;
  left : 140px; 
  top : -110px;
  
}
#optionsDsplay{
  position : relative;
  top: -280px;
  left : 100%;
  width : auto;
  overflow :hidden;
  padding-left : 18px;
  
    
}


