#allContainer {
  position : relative;
  width : 96%;
  height : auto;
  border : 1px black inset;
  border-radius : 25px;
  padding : 25px;
}
#logo_image_holder {
  position : relative;
  width : 30%;
    left : 30%
  }
#logo_image {
  position : relative;
  width : 100%;  
  
}
.hidden {
	position : relative;
	display : ;
}
.nothidden {
	display : block;
}
#imageDiv {
  position : relative;
  border : 1px blue dashed;
  width : 60%;
  padding : 20px;
  margin-top : 20px;
  margin-bottom : 20px;
  
}
.labelText  {
  font-size : x-large;
}
.buttClass {
  font-size : large;
  border-radius : 25px;
  
}
.thumbpic {
  width : 200px;
  height : 200px;
}
#newtagslist {
  position : relative;
  top : -390px;
  left : 105%;
  
}

.itemC {
  position: relative;
  border : 1px black dashed;
  padding : 12px;
  margin : 10px;
  
}
