#headingText{
 position : relative;
 top : -30px;
 font-size : 20px;
 text-align : center;
}

#logo_image {
  position : relative;
  height : 80px;
  width : 50%;
  z-index : 6;
  padding-left : 25%;
}


#detail_fs{
position : relative;
  
  padding : 20px;
  width : 95%;
  overflow : auto;
  overflow-x : hidden;
  white-space : nowrap;
  
}
.inputclass {
  /*  position: relative; 
   f loat : left; */
  width : 90%;
  padding: 5px;
}
.area {
  /*   float: left; */
        width : 80%;
        height: 70px;
        padding : 10px;
} 

.oneliner {
        width : 50%;
       /*   position: relative; 
	float : left; */
}
#animListFrm {
	   position : absolute;
	    height : 500px;
	    z-index : 4;
	    left : 600px;
	    width : 40%;
	    top : 40px;
	    padding : 8px;
        }
        
        

.subLabel {
    font-size : 14px;
    padding-top : 1px;
}
.outputblock {
		position : relative;
		width : 75%;
		height : auto;
}
